<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.project.dao.ProductDao">

   <select id="selectProductList" resultType="kr.green.project.vo.ProductListVo">
	select genre, goods.code, title, startDate, endDate, place, type, price, file
		from goods
			join (select * from goodsdetail where genre = '전시') as t
		    on goods.code = goodsMainCode
		    join (select * from goodsimage where pLocation = 1 ) as i
		    on infoNum = goodsInfoNum
		   join (select * from goodsprice where goodsprice.type = '성인' or goodsprice.type = '일반' or goodsprice.type = '주중 일반' or goodsprice.type = '주중 성인') as p
		    on goods.code = gooCode
		  where DATE_FORMAT(STR_TO_DATE(endDate, '%Y.%m.%d'),'%Y.%m.%d') >= now()
		  limit #{cri.pageStart},#{cri.perPageNum};
   </select>
   
     <select id="selectProductList2" resultType="kr.green.project.vo.ProductListVo">
	select genre, goods.code, title, startDate, endDate, place, type, price, file
		from goods
			join (select * from goodsdetail where genre = '행사') as t
		    on goods.code = goodsMainCode
		    join (select * from goodsimage where pLocation = 1 ) as i
		    on infoNum = goodsInfoNum
		   join (select * from goodsprice where goodsprice.type = '성인' or goodsprice.type = '일반' or goodsprice.type = '주중 일반' or goodsprice.type = '주중 성인') as p
		    on goods.code = gooCode
		  where DATE_FORMAT(STR_TO_DATE(endDate, '%Y.%m.%d'),'%Y.%m.%d') >= now()
		  limit #{cri.pageStart},#{cri.perPageNum};
   </select>
   
   <select id="selectCountProduct" resultType ="int">
   select count(*)
		from goods
			join (select * from goodsdetail where genre = '전시') as t
		    on goods.code = goodsMainCode
		  where DATE_FORMAT(STR_TO_DATE(endDate, '%Y.%m.%d'),'%Y.%m.%d') >= now();
   
   </select>
   
      <select id="selectCountProduct2" resultType ="int">
   select count(*)
		from goods
			join (select * from goodsdetail where genre = '행사') as t
		    on goods.code = goodsMainCode
		  where DATE_FORMAT(STR_TO_DATE(endDate, '%Y.%m.%d'),'%Y.%m.%d') >= now();
  
   </select>
   

   <select id="selectProductDetail" resultType="kr.green.project.vo.ProductDetailVo">
	 select * 
		from goods
        join goodsdetail
        on goods.code = goodsMainCode
        where goods.code = #{code};
	
   </select>
   
  <select id="selectPriceList" resultType="kr.green.project.vo.ProductPriceVo">
    select * 
		from goodsprice
        where gooCode = #{code};
   </select>
   
    <select id="selectgetImage2" resultType="kr.green.project.vo.ProductImageVo">
    
     select *
		from goodsimage
        join goodsdetail
        on goodsInfoNum = infoNum
        where goodsMainCode = #{code} and pLocation = #{location};

   </select>
   
   <select id="selectProductQuantity" resultType="kr.green.project.vo.ProductQuantityVo">
    
   	 SELECT *
   	 	FROM goodsquantity
        where gCode = #{code} and qType = #{weekend};

   </select>
   
      <select id="selectProductQuantityNum" resultType="kr.green.project.vo.ProductQuantityVo">
    
   	 SELECT *
   	 	FROM goodsquantity
        where gCode = #{code} and qType = #{weekend} and round = #{round};

   </select>
   
  <select id="selectResPriceList" resultType="kr.green.project.vo.ProductPriceVo">
    
   	   	 SELECT *
   	 	FROM goodsprice
        where gooCode = #{code} and kinds = #{weekend};

   </select>
   
   <insert id="insertProductInfoTogoods">
    insert 
    	into goods(code, startDate,endDate,place,limitAmount,weekDif,godType)
    	values (#{register.code},#{register.startDate},#{register.endDate},#{register.place},#{register.limitAmount},#{register.weekDif},#{register.godType});
   </insert>
   
  <insert id="insertProductInfoTogoodsDetail">
  
   insert into goodsdetail(title,genre,ratings,enterInfo,infoTime,infoNotice,goodsMainCode) 
    values (#{register.title},#{register.genre},#{register.ratings},#{register.enterInfo},#{register.infoTime},#{register.infoNotice},#{register.code});
    </insert>
        
    <insert id="insertPrice">
    insert into goodsprice(gooCode,Type,price,kinds)
    values(#{pprice.gooCode},#{pprice.Type},#{pprice.price},#{pprice.kinds});
    </insert>
    
        <insert id="insertQuantity">
    insert into goodsquantity(gCode,qType,round,quantity,goodsType,roundTime)
    values(#{Quantity.gCode},#{Quantity.qType},#{Quantity.round},#{Quantity.quantity},#{Quantity.goodsType},#{Quantity.roundTime});
    </insert>
      
      <select id= "selectInfoNum" resultType="int">
      	SELECT infoNum 
	FROM ticket.goodsdetail
    where goodsMainCode = #{code};
      </select>
      
     <insert id="insertImage">
    insert into 
	goodsimage(goodsInfoNum,file,pLocation)
    values(#{image.goodsInfoNum},#{image.file},#{image.pLocation});
    </insert>
    
    <select id="selectSearchResultFromProduct" resultType="kr.green.project.vo.ProductListVo">
    	select genre, goods.code, title, startDate, endDate, place, type, price, file, isOver
		from goods
			join (select * from goodsdetail ) as t
		    on goods.code = goodsMainCode
		    join (select * from goodsimage where pLocation = 1 ) as i
		    on infoNum = goodsInfoNum
		   join (select * from goodsprice where goodsprice.type = '성인' or goodsprice.type = '일반' or goodsprice.type = '주중 일반' or goodsprice.type = '주중 성인') as p
		    on goods.code = gooCode
		where title like concat('%',#{cri.search},'%')
			limit #{cri.pageStart},#{cri.perPageNum};
    
    	</select>
    	
    <select id = "selectCountResultProduct" resultType ="int">
    select count(*)
		from goods
        	join (select * from goodsdetail ) as t
		    on goods.code = goodsMainCode
		where title like concat('%',#{cri.search},'%');
   </select>
   
     <select id="selectAllProductForAdmin" resultType="kr.green.project.vo.ProductListVo">
	  	select goods.code, title, startDate, endDate, isOver
		from goods
			join (select * from goodsdetail ) as t
		    on goods.code = goodsMainCode
             where ( goods.code like concat('%',#{cri.search},'%')
				or title like  concat('%',#{cri.search},'%')
                )    
		     order By startDate DESC
		  limit #{cri.pageStart},#{cri.perPageNum};
   </select>
   
   
    <update id="updateEndDate">
  	update ticket.goods
  		set 
  			isOver = 'Y'
  		where
  			code = #{code}
 </update>
 
 <select id="selectChartData" resultType="kr.green.project.vo.ChartVo">
select `date` , IFNULL(`amount2`,0) as `amount`
		from ( 
			select a.Date AS `date`
				from (
					select curdate() - INTERVAL (a.a + (10 * b.a) + (100 * c.a) + (1000 * d.a) ) DAY as Date
					from (select 0 as a union all select 1 union all select 2 union all select 3 union all select 4 union all select 5 union all select 6 union all select 7 union all select 8 union all select 9) as a
					cross join (select 0 as a union all select 1 union all select 2 union all select 3 union all select 4 union all select 5 union all select 6 union all select 7 union all select 8 union all select 9) as b
					cross join (select 0 as a union all select 1 union all select 2 union all select 3 union all select 4 union all select 5 union all select 6 union all select 7 union all select 8 union all select 9) as c
					cross join (select 0 as a union all select 1 union all select 2 union all select 3 union all select 4 union all select 5 union all select 6 union all select 7 union all select 8 union all select 9) as d
				) a
				where a.Date BETWEEN DATE_ADD(NOW(),INTERVAL -1 WEEK ) AND NOW()
		)
		AS T1
			left Join ( 
            select
				DATE(`rvDate`) as `date1`,
				count(`rvNum`) as `amount2`
				FROM ticket.reservation
				group by `date1`
		) as T2 on T1.`date` = T2.`date1`;
        
            
   </select>
   
   <select id="selectAllCountPForAdmin" resultType ="int">
	select count(*)
		from goods;
            
   </select>
   
   
      <select id="selectProductChartData" resultType ="kr.green.project.vo.ProductChartVo">
	 select title , IFNULL(`amount2`,0) as `amount` 
		from ( select title, goodsMainCode
            from ticket.goodsdetail
		)
		AS T1
		left Outer Join ( 
            select
				gsCode,
				count(gsCode) as `amount2`
				FROM ticket.reservation
				group by gsCode
		) AS T2 on T1.goodsMainCode = T2.gsCode;
            
   </select>
   
   
   
   
 
   
   
        
  </mapper>
 