<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.project.dao.ReservationDao">

  <insert id ="insertReservation">
  		insert into 
  			reservation(ppNum,rvId,rvamount,totalPrice,payStatus,paymethod,roundNum,revocableDate,gsCode,useStart,useEnd,methodBank)
  			values(#{reservation.ppNum},#{reservation.rvId},#{reservation.rvamount},#{reservation.totalPrice},#{reservation.payStatus},#{reservation.paymethod},
  					#{reservation.roundNum},#{reservation.revocableDate},#{reservation.gsCode},#{reservation.useStart},#{reservation.useEnd},#{reservation.methodBank})
  </insert>
  
  
  <select id ="selectReserved" resultType="int">
  
  SELECT COUNT(*) FROM ticket.reservation
where useStart = #{date} and roundNum = #{round}  and gsCode = #{code};
  		
  </select>
  
  
 <select id ="selectReservationList" resultType="kr.green.project.vo.ReservationListVo">
  SELECT rvDate,rvNum,useStart,useEnd,status,gsCode,title,roundTime, count(*) as rvamount 
	FROM ticket.reservation 
    join (select * from goodsdetail ) as t
    on reservation.gsCode = goodsMainCode
	join (select * from goodsquantity ) as z
    on reservation.roundNum = qNum
    WHERE rvDate BETWEEN DATE_ADD(NOW(),INTERVAL -1 MONTH ) AND NOW() 
    and rvId = #{user}
    group by rvDate
    HAVING COUNT(*)>=1;

 </select>
  
  <select id ="selectReservationDetail" resultType="kr.green.project.vo.Reservation2Vo">
select * 
	from reservation
    join (select code, place from goods) as t 
    on gsCode = t.code
	join (select goodsMainCode, title from goodsdetail) as z
    on t.code = goodsMainCode
    join (select id, name from ticket.user) as u
    on rvId = id
    join (select qNum, roundTime from goodsquantity) as e
    on roundNum = qNum
    where rvNum = #{num};
	</select>
       
       
<select id ="getSameTimeReservation" resultType="kr.green.project.vo.ReservedSameVo">
	SELECT rvNum, ppNum,rvId,rvDate,totalPrice,revocable,gsCode,type,price,cancelDate,useStatus
	FROM ticket.reservation
	join (select * from goodsprice) as p
	on ppNum = num
	where rvId = #{user}
	and rvDate = #{rvdate}
	and gsCode = #{code};
	</select>
	
        
  <select id ="selectReservation" resultType="kr.green.project.vo.ReservationVo">
SELECT * FROM ticket.reservation
where rvNum = #{rvNum};
	</select>
	
	
	  <update id="updateReservation">
    update ticket.reservation 
    	set 
    		status = #{reservation.status},
    		revocable = #{reservation.revocable},
    		cancelDate = #{reservation.cancelDate}
 		where 
    		rvNum = #{reservation.rvNum};
  </update>
  
          
  <select id ="selectReservationByCode" resultType="kr.green.project.vo.ReservationVo">
	SELECT * FROM ticket.reservation
	where gsCode = #{code} and rvId = #{user} and usestatus = 'used';
	</select>
	
	
        
  </mapper>
 